.navbar {
  grid-area: navbar;
}
.navbarList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  background-color: var(--bg-secondary);
  cursor: pointer;
}
.navbarItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarItem svg {
  height: 4rem;
}
.logoText {
  display: none;
}
.navbarItem:first-child {
  display: none;
}
@media only screen and (min-width: 600px) {
  .navbarList {
    flex-direction: column;
  }
  .navbarItem {
    margin: 3rem 0;
  }
  .navbarItem svg {
    max-width: 80%;
    height: 80px;
  }
  .navbarItem:last-child {
    margin-top: auto;
  }
  .navbarItem:first-child {
    display: block;
  }
  .logoText {
    display: block;
  }
}
